<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Yuta Kihara</p>
        <p>It uses data from mapbox.com and darksky.net!</p>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="yuta-kihara-737732132"><a class="LI-simple-link" href='https://www.linkedin.com/in/yuta-kihara-737732132?trk=profile-badge'>Yuta Kihara</a></div>
    {{>footer}}
</body>

</html>